@page
@model IndexModel
@{
    ViewData["Title"] = "Underwater acoustic calculation";
}
<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">Run calculation</h3>
    </div>
    <!--begin::Form-->
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-light-success mr-2">Submit</button>
        </div>
    </form>
    <!--end::Form-->
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
